<div *ngIf="isVisible">
    <p-dialog [header]="'dialog.login.title' | translate" modal="modal" [(visible)]="isVisible"
              (onHide)="onClose()" styleClass="p-fluid" [style]="{width: '400px'}">
        <form (ngSubmit)="save(f)" #f="ngForm">
            <p translate style="font-size: 16px">
                dialog.login.text
            </p>
            <div class="p-field">
                <input
                        [(ngModel)]="email"
                        name="email"
                        id="email"
                        type="text"
                        pInputText
                        maxlength="30"
                        placeholder="Email"
                        aria-describedby="email-error"
                        [ngClass]="{'ng-invalid ng-dirty': isControlInvalid(emailFC)}"
                        required #emailFC="ngModel"
                >
                <small translate class="p-error" [hidden]="!isControlInvalid(emailFC)" id="email-error">
                    error.field-required
                </small>
            </div>
        </form>
        <ng-template pTemplate="footer">
            <button pButton icon="pi pi-check" (click)="save(f)" [label]="'dialog.login.button' | translate"
                    class="p-button-text"></button>
        </ng-template>
    </p-dialog>
</div>
