body {
    font-family: "Nunito";
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #f8f9fa;
}

input {
    font-size: 1rem;
    color: #495057;
    background: #ffffff;
    padding: 0.5rem 0.5rem;
    border: 1px solid #ced4da;
    width: 100%;
    margin: 7px 0;
    outline: none;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    appearance: none;
    border-radius: 4px;
}

input::placeholder {
    font-family: "Nunito";
    font-size: 14px;
}

input:hover {
    border: #2196F3 1px solid;
}

input:focus {
    border: #96caff 2px solid;
}

button {
    width: 100%;
    color: #ffffff;
    background: #2196F3;
    border: 1px solid #2196F3;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 4px;
    margin-top: 7px;
    outline: none;
    cursor: pointer;
}

.restore-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 40%;
    max-width: 360px;
    margin-top: 40px;
}

.restore-title {
    color: #495057;
}

.restore-text {
    color: #888888
}

#errorMessage {
    width: 100%;
    background: #FFCDD2;
    text-align: center;
    border-radius: 4px;
    color: #73000c;
    margin: 5px 0;
    padding: 8px 20px;
}